@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/** BASIC TAGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
  white-space: pre-line;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/** ------------------------------ */

/** REACTMODAL WINDOWS */
/*/// Delete article */
.deleteArticleModal {
  position: fixed;
  min-width: 15%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #ccc; */
  background: #fff;
  overflow: auto;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  text-align: center;
}

.deleteArticleoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(209, 205, 205, 0.75);
}

/*----------------*/

/*/// Edit article Modal */
.editArticleModal {
  position: fixed;
  width: 100vh;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #ccc; */
  background: #fff;
  overflow: auto;
  border-radius: 5px;
  outline: none;
  padding: 20px;
}

.editArticleoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(209, 205, 205, 0.75);
}

/*----------------*/

/*/// Image Modal */
.articleImageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.articleImageModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}

.modal-image {
  max-width: 150vh;
  max-height: 90vh;
}

/*----------------*/
.modalButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

/** ------------------------------ */


/** HEADER **/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 40px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

/** ------------------------------ */


.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}


/** ARTICLES PAGES **/
.articles {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr;
  gap: 10px;
}

.article {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 30px 15px 10px;
  position: relative;
  text-align: left;
}

.article .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.article .articleButton {
  margin-left: 10px;
  font-size: 22px;
  cursor: pointer;
  border: none;
  background: none;
  color: #777;
}

.articleButton:hover {
  color: #000000;
}

.articleName {
  margin-top: 5px;
}

.articleCreatedAt {
  margin-top: 10px;
  text-align: right;
  color: #777;

}

.createLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.createLink ul,
h1 {
  list-style: none;
  margin: 0;
}

.createLink ul li a:hover {
  color: #777;
}

/** ------------------------------ */

.content {
  width: 100%;
  margin: 0 auto;
}

/** FORM */
.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

/** ------------------------------ */

/** BUTTON BTN */
.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

/** ------------------------------ */

/** CAROUSEL */
.image-carousel {
  width: 45vh;
}

/* .carousel-image-container {
  max-width: 100%;
} */

/* .carousel-image {
  max-width: 100%;
} */

/** ------------------------------ */

/** SPINNER */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/** ------------------------------ */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {

  /*/// Edit article Modal */
  .editArticleModal {
    width: 80%;
  }

  /*----------------*/

  /*/// Image Modal */
  .modal-image {
    max-width: 90vh;
    max-height: 90vh;
  }

  /*----------------*/
}

@media (max-width: 768px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  /*/// Edit article Modal */
  .editArticleModal {
    width: 95%;
  }

  /*----------------*/
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .editArticleModal {
    width: 95%;
  }

  /*/// Image Modal */
  .modal-image {
    max-width: 50vh;
    max-height: 90vh;
  }

  /*----------------*/
}